<p style="color: green"><%= notice %></p>

<%= render @album %>

<div id="foo">
  <%= render partial: "photos/form"%>

<div id="bar">
<%@album.photos.each do |a|%>
<%# <%debugger%> 
    <%if a.images.attached?%>
         <%a.images.each do|b|%>
              <%=image_tag b,width: "200px"%>
         <%end%>
    <%end%>
  <%end%>

  <style>
  #foo{
    text-align: center;
  }
  #{
    display: flex;
    

  }

  </style>

<!--
<div>
  <%= link_to "Edit this album", edit_album_path(@album) %> |
  <%= link_to "Back to albums", albums_path %>

  <%= button_to "Destroy this album", @album, method: :delete %>
</div>
-->
