<p style="color: green"><%= notice %></p>

<%= render @album %>

< id="foo">
  <%= render partial: "photos/form"%>

</div>

<%@album.photos.each do |a|%>
<div data-controller = "drag" data-drag-url ="/albums/<%=@album.id%>/photos/:id/move"  >


    <%if a.image.attached?%>
        <div  data-id = "<%= a.id%>" class= "card card-body mb-4">

        
              <%=image_tag a.image,width: "200px"%>
              </div>
              
        
    <%end%>
  </div>
  <%end%>

  <style>
  #foo{
    text-align: center;
  }
  #{
    display: flex;
    

  }

  </style>

<!--
<div>
  <%= link_to "Edit this album", edit_album_path(@album) %> |
  <%= link_to "Back to albums", albums_path %>

  <%= button_to "Destroy this album", @album, method: :delete %>
</div>
-->
